:root {
    font-family: Inter;
    font-weight: 700;
    overflow: hidden;
    height: 100vh;
}

header {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99999;
    padding-left: 0.75em;
    padding-right: 0.5em;
    padding-top: 2em;
    font-size: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, var(--cheater) 50%, transparent 100%);
    color: var(--textcolor-bright);
}

.top-logo {
    position: fixed;
    top: 0.5em;
    width: 100%;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 7em;
}

.BADA55 {
    margin-right: 0.2em;
}

.BADA55:before {
    content: '#';
}

.buttons button {
    padding: 0.75em 0.2em;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    margin: 0;
}

.next:not([data-value]),
.prev:not([data-value]) {
    display: none;
}

#copy span {
    font-size: 0.9em;
    transition: opacity 200ms ease-in;
}

#copy .fade {
    opacity: 0;
    transition: opacity 1000ms ease-out;
}

.buttons button span {
    font-size: inherit;
    display: block;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--cheater);
    font-size: clamp(1rem, 15vw, 5rem);
    transition: background 500ms ease;
}

body:before, body:after {
    display: block;
    content: '';
    width: 100%;
    z-index: 999;
    position: relative;
    flex-grow: 1;
    background: linear-gradient(to top, transparent, var(--cheater) 3em);
    pointer-events: none;
}

body:after {
    transform: rotate(180deg);
}

body[text-color=dark] {
    --textcolor: color-mix(in srgb, var(--cheater) 80%, black);
    --textcolor-bright: rgba(0,0,0,0.75);
    color: var(--textcolor);
}

body[text-color=light] {
    --textcolor: color-mix(in srgb, var(--cheater) 70%, white);
    --textcolor-bright: rgba(255,255,255,0.75);
    color: var(--textcolor);
}

.modal {
    position: absolute;
    top: 7%;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 1em;
    transition: all 500ms ease;
}

.modal.active {
    z-index:99999;
}

section {
    display: flex;
    gap: 1px;
    height: 1em;
    margin: 0em auto;
    border-block: 1px solid;
    width: 100vw;
    justify-content: center;
    padding-top: 1px;
    transition: background 400ms ease-out;
    position: relative;
}

section.copied {
    background: color-mix(in srgb, var(--cheater) 20%, white);
    background: var(--textcolor);
    transition: background 0ms linear;
  box-shadow: 0 0 1rem var(--textcolor);
}

#editForm {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    border: inherit;
    text-align: center;
    color: var(--cheater);
    font-family: Inter;
    font-size: clamp(2px, 13vmin, 0.9em);
    font-weight: 700;
    backdrop-filter: blur(1rem);
    z-index: -999;
    opacity: 0;
    transition: all 200ms ease;
}

#editForm.active {
    z-index: 999999;
    opacity: 1;
}

#editField {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--textcolor);
    border: 0;
    text-align: center;
    color: var(--textcolor-bright);
    font-family: Inter;
    font-size: inherit;
    font-weight: inherit;
    transition: all 200ms ease;
    text-transform: uppercase;
    box-sizing: border-box;
}

#editField:focus-visible {
    outline: 2px solid;
    outline-offset: 0px;
}

#editSubmit {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0 1em;
    background: none;
    font-size: 0.25em;
    color: var(--cheater);
}

li.selected {
    color: var(--textcolor-bright);
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 1em;
    font-size: 1em;
    line-height: 1em;
    transition: all 500ms ease;
}

li {
    list-style: none;
    cursor: pointer;
    width: calc(80vw / 6);
    max-width: 1.125em;
    text-align: center;
    font-size: clamp(2px, 13vmin, 0.9em);
    transition: background 500ms ease;
    user-select: none;
}

li.selected {
}

ul:is(:hover,:focus-within) {
    transition: all 500ms ease;
    z-index: 9999;
}

li:not(.selected):is(:hover, :focus-visible) {
    background: var(--textcolor);
    color: var(--cheater);
}
