:root {
    font-family: Inter;
    font-weight: 700;
    overflow: hidden;
    height: 100vh;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--cheater);
    font-size: clamp(1rem, 15vw, 5rem);
    transition: background 500ms ease;
}

body:before, body:after {
    display: block;
    content: '';
    width: 100%;
    z-index: 999;
    position: relative;
    flex-grow: 1;
    background: linear-gradient(to top, transparent, var(--cheater) 3em);
    pointer-events: none;
}

body:after {
    transform: rotate(180deg);
}

body[text-color=dark] {
    --textcolor: color-mix(in srgb, var(--cheater) 80%, black);
    color: var(--textcolor);
}

body[text-color=light] {
    --textcolor: color-mix(in srgb, var(--cheater) 70%, white);
    color: var(--textcolor);
}

section {
    display: flex;
    gap: 1px;
    height: 1em;
    margin: 0em auto;
    border-block: 1px solid;
    width: 100vw;
    justify-content: center;
    padding-top: 1px;
}

[text-color=dark] li.selected {
    color: rgba(0,0,0,0.75);
}

[text-color=light] li.selected {
    color: rgba(255,255,255,0.75);
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 1em;
    font-size: 1em;
    line-height: 1em;
    transition: all 100ms ease;
}

li {
    list-style: none;
    cursor: pointer;
    width: calc(80vw / 6);
    max-width: 1.125em;
    text-align: center;
    font-size: clamp(2px, 13vmin, 0.9em);
    transition: background 500ms ease;
    user-select: none;
}

li.selected {
}

ul:is(:hover,:focus-within) {
    transition: all 500ms ease;
    z-index: 9999;
}

li:not(.selected):is(:hover, :focus-visible) {
    background: var(--textcolor);
    color: var(--cheater);
}
