:root {
    overflow: hidden;
    height: 100vh;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    place-items: center;
    background: var(--cheater);
    font-family: system-ui;
    font-weight: 700;
    font-size: clamp(1rem, 12vw, 5rem);
    transition: background 500ms ease;
}

body[text-color=dark] {
    --textcolor: color-mix(in srgb, var(--cheater) 50%, black);
    color: var(--textcolor);
}

body[text-color=light] {
    --textcolor: color-mix(in srgb, var(--cheater) 50%, white);
    color: var(--textcolor);
}

section {
    display: flex;
    gap: 1px;
    height: 1em;
    background: var(--textcolor);
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 1em;
    font-size: 1em;
    line-height: 1em;
    transition: all 100ms ease;
}

li {
    list-style: none;
    cursor: pointer;
    width: calc(90vw / 6);
    max-width: 1.5em;
    text-align: center;
    font-size: 0.75em;
    transition: background 500ms ease;
    user-select: none;
}

li.selected {
    color: #000;
    filter: invert(1);
}

li:is(:hover, :focus) {
    outline: 2px solid;
    outline-offset: -2px;
}
